*{
    background-color: rgb(236, 243, 243);
}
.first{
    color: black;
    text-align: center;
   font-size: 5ex;
}
.second{
    text-align: center;
    font-size: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c4c4c4;
    color: white;
    text-align: center;
}
header{
    background-color:#e6e1e1;
    
}
.logo{

    display: flex;
    justify-content: space-around;    
    padding-top: 15px;
}
.logo>h1{
    color: rgb(0,0,0);
    
    
}
nav{
    min-width: 960px;
    padding: 10px 3px;
    margin-top: -30px;
    margin-left: 15%;
    
}
nav>ul{
    text-align: left;
    padding-left:22%;
}
nav>ul>li{
    display: inline-block;
    padding-inline-end: 3%;
    
}
nav>ul>li>a{
    padding: 18px;
    text-decoration: none;
}
nav>ul>li>a:hover{
    color: #11f505;
    opacity: 1;
}