  /* Header details */
  header{
    background-color:#e6e1e1;
    
}
.logo{

    display: flex;
    justify-content: space-around;    
    padding-top: 15px;
}
.logo>h1{
    color: rgb(0,0,0);
    
    
}
nav{
    min-width: 960px;
    padding: 10px 3px;
    margin-top: -30px;
    margin-left: 15%;
    
}
nav>ul{
    text-align: left;
    padding-left:22%;
}
nav>ul>li{
    display: inline-block;
    padding-inline-end: 3%;
    
}
nav>ul>li>a{
    padding: 18px;
    text-decoration: none;
}
nav>ul>li>a:hover{
    color: #11f505;
    opacity: 1;
}
  
  /* contact form */
  
  .Feedback{
    
    margin-top: 1em;
    padding-top: 2em;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
.form {
  width: 100%;
}

.contact-head{
  color: black;
    text-align: center;
    margin-top: 30px;
    padding:20px;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border-radius: 4px;
    margin-top: 8px; 
    margin-bottom: 16px; 
    resize: vertical ;

  }
  
/* footer styling  */
footer{
  display: flex;
  justify-content: space-around;
  background-color: #c4c4c4;
  padding: 20px;
  width: 1850px;
  }

.copyright{
  text-align: center;
}
#but{
  position: relative;
  bottom: 20px;
}

